@charset "utf-8";

* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

header { 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url("../images/confetti.gif");
	padding: 40px;
	margin-bottom: 5px;
}

/** pagina 1 **/
.navbar {
	color: #8338EC;
	background: #FFB703;
}

.geel {
		background: #FFB703;
}

.paddinggroot {
	padding-top: 70px;
	padding-bottom: 70px;
}

.titel {
	color: #023047;
}

.start { 
width: 80%;
color: #023047;
}
/** pagina 1 **/

/** pagina 2 **/
.navbartwee {
	color: #8338EC;
	background: #FFB703;
}

.footertwee {
	padding-top: 20px;
	padding-bottom: 1px;
	background: #FFB703;
}

/** pagina 2 **/

.carousel {
	margin: auto;
	align-content: center;
	width: 80%;
}

.buttoneen {
	background: #FFB703;
	color: white;
}

.buttoneen:hover {
	background: #FB8500;
	color: white;
}

.footer {
	color: white;
	padding-top: 20px;
	padding-bottom: 1px;
	background: #FB8500;
}

.paddingklein {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bovenkant {
	padding-top: 60px;
	padding-bottom: 50px;
	font-size: 50px;
}

.tekst {
	padding-bottom: 10px;
}

.fotoquiz {
	width: 50%;
}
